@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Tajawal";
    src: url("../public/fonts/Tajawal/Tajawal-Regular.ttf");
}

body {
    background-color: #fcfcfc;
}

.spinner {
    animation: spin infinite 2s linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.carousel.carousel-slider {
    border-radius: 8px;
}

.carousel .thumb.selected, .carousel .thumb:hover {
    border: 2px solid #cec8d8 !important;
}

.carousel .thumb, .carousel .thumb img {
    border-radius: 8px;
}

.carousel .slide {
    height: 345px;
}
